In [1]:
# Dependencies
import requests
import json
import pandas as pd

In [2]:

import yfinance as yf

twtr = yf.Ticker("TWTR")
print(twtr)

twtr.info

twtr_df=twtr.history(period="max")

yfinance.Ticker object <TWTR>

In [3]:
# twtr_df=pd.DataFrame(twtr)

In [4]:
twtr_df.to_csv('twtr_all.csv', index=True)

In [5]:
from sqlalchemy import create_engine

In [6]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'twitter'
connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(connection_string)

In [7]:
csv_file='twtr_all.csv'
stock_data_df= pd.read_csv(csv_file)
stock_data_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2013-11-07 00:00:00-05:00,45.099998,50.090000,44.000000,44.900002,117701670,0.0,0.0
1,2013-11-08 00:00:00-05:00,45.930000,46.939999,40.685001,41.650002,27925307,0.0,0.0
2,2013-11-11 00:00:00-05:00,40.500000,43.000000,39.400002,42.900002,16113941,0.0,0.0
3,2013-11-12 00:00:00-05:00,43.660000,43.779999,41.830002,41.900002,6316755,0.0,0.0
4,2013-11-13 00:00:00-05:00,41.029999,42.869999,40.759998,42.599998,8688325,0.0,0.0

In [14]:
final_stocks_data_df=stock_data_df[['Date','Open','High', 'Low', 'Close','Volume']]

final_stocks_data_df.head(20)

,Date,Open,High,Low,Close,Volume
0,2013-11-07 00:00:00-05:00,45.099998,50.090000,44.000000,44.900002,117701670
1,2013-11-08 00:00:00-05:00,45.930000,46.939999,40.685001,41.650002,27925307
2,2013-11-11 00:00:00-05:00,40.500000,43.000000,39.400002,42.900002,16113941
3,2013-11-12 00:00:00-05:00,43.660000,43.779999,41.830002,41.900002,6316755
4,2013-11-13 00:00:00-05:00,41.029999,42.869999,40.759998,42.599998,8688325
5,2013-11-14 00:00:00-05:00,42.340000,45.669998,42.240002,44.689999,11099433
6,2013-11-15 00:00:00-05:00,45.250000,45.270000,43.430000,43.980000,8010663
7,2013-11-18 00:00:00-05:00,43.500000,43.950001,40.849998,41.139999,12810624
8,2013-11-19 00:00:00-05:00,41.389999,41.900002,40.000000,41.750000,7436616
9,2013-11-20 00:00:00-05:00,41.400002,41.750000,40.509998,41.049999,5767325
10,2013-11-21 00:00:00-05:00,41.250000,42.490002,40.369999,42.060001,8324753
11,2013-11-22 00:00:00-05:00,41.810001,42.279999,40.970001,41.000000,6185245
12,2013-11-25 00:00:00-05:00,41.080002,41.139999,38.799999,39.060001,14333375
13,2013-11-26 00:00:00-05:00,39.160000,40.549999,38.919998,40.180000,9828433
14,2013-11-27 00:00:00-05:00,40.470001,41.400002,40.349998,40.900002,5536322
15,2013-11-29 00:00:00-05:00,41.400002,41.580002,40.900002,41.570000,4107074
16,2013-12-02 00:00:00-05:00,41.790001,42.000000,40.400002,40.779999,6427386
17,2013-12-03 00:00:00-05:00,40.689999,41.599998,40.540001,41.369999,5776893
18,2013-12-04 00:00:00-05:00,41.270000,43.919998,41.270000,43.689999,11028953
19,2013-12-05 00:00:00-05:00,43.450001,46.349998,42.830002,45.619999,11813520

In [18]:
import datetime

date_stock=final_stocks_data_df['Date'].str.replace('00:00:00-05:00','')

date_stock

TypeError: replace() got an unexpected keyword argument 'index'

In [20]:
date_stock2=date_stock.str.replace('00:00:00-04:00','')

date_stock2

0       2013-11-07
1       2013-11-08
2       2013-11-11
3       2013-11-12
4       2013-11-13
           ...
2254    2022-10-21
2255    2022-10-24
2256    2022-10-25
2257    2022-10-26
2258    2022-10-27
Name: Date, Length: 2259, dtype: object

In [11]:
da

ValueError: pattern contains no capture groups