In [19]:
# Dependencies
import requests
import json
import pandas as pd

In [16]:

import yfinance as yf

twtr = yf.Ticker("TWTR")
print(twtr)

twtr.info

twtr.history(period="max")

twtr_pd=

yfinance.Ticker object <TWTR>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-11-07 00:00:00-05:00,45.099998,50.090000,44.000000,44.900002,117701670,0.0,0.0
2013-11-08 00:00:00-05:00,45.930000,46.939999,40.685001,41.650002,27925307,0.0,0.0
2013-11-11 00:00:00-05:00,40.500000,43.000000,39.400002,42.900002,16113941,0.0,0.0
2013-11-12 00:00:00-05:00,43.660000,43.779999,41.830002,41.900002,6316755,0.0,0.0
2013-11-13 00:00:00-05:00,41.029999,42.869999,40.759998,42.599998,8688325,0.0,0.0
...,...,...,...,...,...,...,...
2022-10-21 00:00:00-04:00,50.000000,50.750000,49.549999,49.889999,51209029,0.0,0.0
2022-10-24 00:00:00-04:00,50.709999,51.860001,50.520000,51.520000,22987553,0.0,0.0
2022-10-25 00:00:00-04:00,52.415001,53.180000,52.200001,52.779999,35077848,0.0,0.0
2022-10-26 00:00:00-04:00,52.950001,53.500000,52.770000,53.349998,28064973,0.0,0.0
2022-10-27 00:00:00-04:00,53.910000,54.000000,53.700001,53.700001,136345128,0.0,0.0

In [24]:
twtr.to_csv('twtr_all.csv')

AttributeError: 'Ticker' object has no attribute 'to_csv'